.index-body {
  width: 100%;
  margin-top: 200px;
}

.index-main {
  color: gray;
}

.title h1 {
  text-align: center;
  color: gray;
  font-size: 40px;
  width: 100vw;
}

.index-main {
  width: 100%;
  margin-top: 50px;
  display: flex;
}

.likes-ranking {
  width: 30%;
}

.likes-ranking h2{
  text-align: center;
  font-size: 20px;
}

.ranking-li {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.ranking-book {
  width: 100%;
  text-align: left;
  margin: 20px auto 0 20px;
  flex-direction: row;
  display: flex;
}

.ranking-book-title {
  width: 70%;
}

.ranking-book-likes {
  text-align: right;
  width: 30%;
}

.index-right {
  width: 70%;
  color: gray;
  text-decoration: none;
}

.index-lists {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 50px;
}

.list {
  list-style: none;
  width: calc((100% - 200px)/2);
  margin: 30px 50px 0px 0px;
}

.index-link {
  text-decoration: none;
}

.index-user {
  color: gray;
  text-decoration: none;
}

.book-title {
  color: gray;
  text-decoration: none;
}

.book-img {
  width: 200px;
  height: auto;
}




