.new-main {
  margin-top: 200px;
  background-color: #FFF;
  width: 100vw;
  min-width: 450px;
  text-align: center;
  color: gray;
}
.new-main h2 {
  font-size: 20px;
  margin-bottom: 50px;
}
#book-name {
  margin-bottom: 20px;
}
.img-upload {
  margin-bottom: 20px;
}
.submit-btn {
  margin-bottom: 20px;
}
.submit-btn {
  margin-bottom: 20px;
}
.submitbtn {
  color: gray;
}
.submitbtn:hover {
  opacity: 0.5;
}
.back-btn {
  color: gray;
}
.back-btn:hover {
  opacity: 0.5;
}