.signup-main {
  margin-top: 200px;
  width: 100%;
  background: #fff;
  color: grey;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.submit-btn {
  color: gray;
}
.submit-btn:hover {
  opacity: 0.5;
}


